@import "tailwindcss";

@theme {
  --font-sans: "Segoe UI", system-ui, -apple-system, "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #09090b;
  color: #fafafa;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar delgado estilo Windows 11 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 8px;
  border: 2px solid #09090b;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
